<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Learn about the development of 2D and 3D interactive games in this hands-on course">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Cat Analysis</title>

    <link rel="stylesheet" href="../static/editor.css" media="screen">
    <link rel="stylesheet" href="../static/nicepage.css" media="screen">
    <style>
        li .header-font {
            font-size: 48px;
            font-weight: bold;
            color: grey !important;
        }

        .download-icon {
            width: 25px;
            float: right;
            margin-right: 25px;
            margin-top: 30px;
        }

        ol {
            height: 750px;
            overflow: overlay;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 20px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: lightgray;
            border-radius: 10px;
        }

        ol {
            list-style-type: none;
        }
    </style>
    <script class="u-script" type="text/javascript" src="../static/jquery-1.9.1.min.js" defer=""></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <script class="u-script" type="text/javascript" src="../static/nicepage.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/index.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/editor.js" defer=""></script>

    <meta name="generator" content="Nicepage 3.5.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html"
    }</script>
    <meta property="og:title" content="Cat Analysis">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#373a33">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="https://website223464.nicepage.io/Page-2.html?version=1d473294-0952-4230-9e61-c1f14aa372ce"
      data-home-page-title="Cat Analysis" class="u-body">

<header class="u-clearfix u-header u-header" id="sec-a662">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link header-font" href="/">Главная</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link header-font"
                                              href="/lectures-list">Лекции</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="u-align-center u-clearfix u-custom-color-4 u-section-1" id="carousel_6b23">
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
            <div class="u-layout-row" style="">
                <div id="editor"></div>
                <button onclick="update()" class="u-button-style save-btn">
                    Сохранить
                </button>
                <div id="audio"></div>
                <script type="text/javascript">
                    const id =  {{ value }};
                </script>
            </div>
        </div>
    </div>
</section>

<footer class="u-align-left u-clearfix u-footer u-grey-80 u-footer" id="sec-a0fd">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</footer>

<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
        <span>HTML Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Offline Website Builder</span>
    </a>.
</section>
</body>
</html>